<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuchujie.webapp.provider.dao.ItemRatesDao" >
  <resultMap id="BaseResultMap" type="com.chuchujie.webapp.common.entity.ItemRates" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="sku_values" property="skuValues" jdbcType="VARCHAR" />
    <result column="rate_id" property="rateId" jdbcType="BIGINT" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="rate_content" property="rateContent" jdbcType="VARCHAR" />
    <result column="rate_date" property="rateDate" jdbcType="TIMESTAMP" />
    <result column="platfrom" property="platfrom" jdbcType="TINYINT" />
    <result column="has_img" property="hasImg" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.chuchujie.webapp.common.entity.ItemRates" extends="BaseResultMap" >
    <result column="rate_imgs" property="rateImgs" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap type="map" id="selectByItemIdMap">
  		 <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="item_id" jdbcType="BIGINT" />
    <result column="sku_values" property="sku_values" jdbcType="VARCHAR" />
    <result column="rate_id" property="rate_id" jdbcType="BIGINT" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="rate_content" property="rate_content" jdbcType="VARCHAR" />
    <result column="rate_date" property="rate_date" jdbcType="TIMESTAMP" />
    <result column="platfrom" property="platfrom" jdbcType="TINYINT" />
    <result column="has_img" property="has_img" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="parent_id" property="parent_id" jdbcType="INTEGER" />
    <result column="rate_imgs" property="rate_imgs" jdbcType="LONGVARCHAR" />
    <result column="star_num" property="star_num" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByItemId" resultMap="selectByItemIdMap" parameterType="java.lang.Long">
  	select 
	  	 a.id,
	  	 a.item_id,
	  	 a.sku_values,
	  	 a.rate_id,
	  	 a.nick,
	  	 a.rate_content,
	  	 a.rate_date,
	  	 a.platfrom,
	  	 a.has_img,
	  	 a.status,
	  	 a.parent_id,
	  	 a.rate_imgs,
	  	 b.star_num
	 from cc_items_rates a,cc_rate_star b
	 where  a.item_id=#{itemId,jdbcType=BIGINT} and b.rate_id=a.id
  </select>
  <sql id="Base_Column_List" >
    id, item_id, sku_values, rate_id, nick, rate_content, rate_date, platfrom, has_img, 
    status, parent_id
  </sql>
  <sql id="Blob_Column_List" >
    rate_imgs
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cc_items_rates
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cc_items_rates
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chuchujie.webapp.common.entity.ItemRates" >
    insert into cc_items_rates (id, item_id, sku_values, 
      rate_id, nick, rate_content, 
      rate_date, platfrom, has_img, 
      status, parent_id, rate_imgs
      )
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=BIGINT}, #{skuValues,jdbcType=VARCHAR}, 
      #{rateId,jdbcType=BIGINT}, #{nick,jdbcType=VARCHAR}, #{rateContent,jdbcType=VARCHAR}, 
      #{rateDate,jdbcType=TIMESTAMP}, #{platfrom,jdbcType=TINYINT}, #{hasImg,jdbcType=BIT}, 
      #{status,jdbcType=BIT}, #{parentId,jdbcType=INTEGER}, #{rateImgs,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chuchujie.webapp.common.entity.ItemRates" >
    insert into cc_items_rates
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="skuValues != null" >
        sku_values,
      </if>
      <if test="rateId != null" >
        rate_id,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="rateContent != null" >
        rate_content,
      </if>
      <if test="rateDate != null" >
        rate_date,
      </if>
      <if test="platfrom != null" >
        platfrom,
      </if>
      <if test="hasImg != null" >
        has_img,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="rateImgs != null" >
        rate_imgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuValues != null" >
        #{skuValues,jdbcType=VARCHAR},
      </if>
      <if test="rateId != null" >
        #{rateId,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="rateContent != null" >
        #{rateContent,jdbcType=VARCHAR},
      </if>
      <if test="rateDate != null" >
        #{rateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="platfrom != null" >
        #{platfrom,jdbcType=TINYINT},
      </if>
      <if test="hasImg != null" >
        #{hasImg,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="rateImgs != null" >
        #{rateImgs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuchujie.webapp.common.entity.ItemRates" >
    update cc_items_rates
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuValues != null" >
        sku_values = #{skuValues,jdbcType=VARCHAR},
      </if>
      <if test="rateId != null" >
        rate_id = #{rateId,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="rateContent != null" >
        rate_content = #{rateContent,jdbcType=VARCHAR},
      </if>
      <if test="rateDate != null" >
        rate_date = #{rateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="platfrom != null" >
        platfrom = #{platfrom,jdbcType=TINYINT},
      </if>
      <if test="hasImg != null" >
        has_img = #{hasImg,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="rateImgs != null" >
        rate_imgs = #{rateImgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chuchujie.webapp.common.entity.ItemRates" >
    update cc_items_rates
    set item_id = #{itemId,jdbcType=BIGINT},
      sku_values = #{skuValues,jdbcType=VARCHAR},
      rate_id = #{rateId,jdbcType=BIGINT},
      nick = #{nick,jdbcType=VARCHAR},
      rate_content = #{rateContent,jdbcType=VARCHAR},
      rate_date = #{rateDate,jdbcType=TIMESTAMP},
      platfrom = #{platfrom,jdbcType=TINYINT},
      has_img = #{hasImg,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=INTEGER},
      rate_imgs = #{rateImgs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuchujie.webapp.common.entity.ItemRates" >
    update cc_items_rates
    set item_id = #{itemId,jdbcType=BIGINT},
      sku_values = #{skuValues,jdbcType=VARCHAR},
      rate_id = #{rateId,jdbcType=BIGINT},
      nick = #{nick,jdbcType=VARCHAR},
      rate_content = #{rateContent,jdbcType=VARCHAR},
      rate_date = #{rateDate,jdbcType=TIMESTAMP},
      platfrom = #{platfrom,jdbcType=TINYINT},
      has_img = #{hasImg,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>